<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="assets/css/style.css" rel="stylesheet" type="text/css">

    <title>ModernMail Template</title>
  </head>
  <body>
    <center>
      <table id="main">
        <tr>
          <td>
            <!-- Head -->
            <table id="header">

            </table>
            <!-- /Head -->
          </td>
        </tr>
        <tr>
          <td>
            <!-- Content -->
            <table id="content">

            </table>
            <!-- /Content -->
          </td>
        </tr>
        <tr>
          <td>
            <!-- Footer -->
            <table id="footer">

            </table>
            <!-- /Footer -->
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
